@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: smooth;
}
.container {
    width: min(100%, 1140px);
    margin-inline: auto;
}
body {
    background-color: #1c1c1c;
}
header {
    width: 100%;
    height: 80px;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #312F30;;
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 80px;
        nav {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            ul {
                display: flex;
                gap: 28px;
                margin: auto;
                li a {
                    color: #fff;
                    font: 400 14px "Roboto";
                    opacity: 70%;
                    text-transform: uppercase;
                    &.active {
                        opacity: 100%;
                    }
                }
            }
            .btn {
                padding: 15px 37px;
                border-radius: 5px;
                font: 500 14px "Roboto";
                background: #F6762C;
                color: #fff;
                text-transform: uppercase;
            }
        }
    }
}
section {
    &.hero {
        width: 100%;
        height: 100vh;
        background: url("../images/hero-image.png") no-repeat center center / cover fixed;
        .text {
            width: min(100%, 555px);
            color: #fff;
            padding-top: 70px;
            @media (max-width: 555px) {
                padding-inline: 10px;
            }
            h1 {
                font: 500 57px "Roboto";
                margin-block-start: 7px;
            }
            p {
                &.lorem {
                    font: 500 14px "Roboto";
                    text-transform: uppercase;
                }
                &.ipsum {
                    font: 400 18px "Roboto";
                    opacity: 70%;
                    width: min(100%, 523px);
                    margin-block-start: 37px;
                }
            }
            a {
                padding: 15px 36px;
                color: #fff;
                font: 500 16px "Roboto";
                text-transform: uppercase;
                border-radius: 5px;
                background: #F6762C;
                display: inline-block;
                margin-top: 42px;
            }
        }
    }
}