@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: smooth;
}
.container {
    width: min(100%, 1140px);
    margin-inline: auto;
}
body {
    background-color: #1c1c1c;
}
img { font-family: "Roboto"; }
header {
    width: 100%;
    height: 80px;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #312F30;;
    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 80px;
        nav {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            ul {
                display: flex;
                gap: 28px;
                margin: auto;
                li a {
                    color: #fff;
                    font: 400 14px "Roboto";
                    opacity: 70%;
                    text-transform: uppercase;
                    &.active {
                        opacity: 100%;
                    }
                }
            }
            .btn {
                padding: 15px 37px;
                border-radius: 5px;
                font: 500 14px "Roboto";
                background: #F6762C;
                color: #fff;
                text-transform: uppercase;
            }
        }
    }
}
section {
    &.hero {
        width: 100%;
        height: 100vh;
        background: url("../images/hero-image.png") no-repeat center center / cover fixed;
        .text {
            width: min(100%, 555px);
            color: #fff;
            padding-top: 70px;
            @media (max-width: 555px) {
                padding-inline: 10px;
            }
            h1 {
                font: 500 57px "Roboto";
                margin-block-start: 7px;
            }
            p {
                &.lorem {
                    font: 500 14px "Roboto";
                    text-transform: uppercase;
                }
                &.ipsum {
                    font: 400 18px "Roboto";
                    opacity: 70%;
                    width: min(100%, 523px);
                    margin-block-start: 37px;
                }
            }
            a {
                padding: 15px 36px;
                color: #fff;
                font: 500 16px "Roboto";
                text-transform: uppercase;
                border-radius: 5px;
                background: #F6762C;
                display: inline-block;
                margin-top: 42px;
            }
        }
    }
    &.cards {
        width: 100%;
        .container {
            margin-block: 115px 102px;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            .card {
                width: min(100%, 262px);
                text-align: center;
                .card-body {
                    padding: 28px 20px 30px;
                    background-color: #312F30;
                    color: #fff;
                    height: 153.67px;
                    margin-top: -3px;
                    h4 {
                        font: 500 20px "Roboto";
                    }
                    p {
                        font: 400 16px "Roboto";
                        opacity: 70%;
                        margin-top: 13px;
                    }
                }
            }
        }
    }
    &.burger {
        background-color: #312F30;
        padding-block: 69px 53px;
        .container {
            display: flex;
            align-items: center;
            gap: 214px;
            color: #fff;
            flex-wrap: wrap;
            .text {
                width: min(100%, 368px);
                h1 {
                    font: 500 44.2px "Roboto";
                }
                p {
                    font: 400 16px "Roboto";
                    opacity: 70%;
                    margin-block: 24px 13px;
                }
                h4 {
                    color: #F6762C;
                    font: 500 20px "Roboto";
                    span {
                        opacity: 50%;
                        font: 500 16px "Roboto";
                        text-decoration: line-through;
                        display: inline-block;
                        margin-inline-start: 5px;
                    }
                }
                a {
                    color: #fff;
                    display: inline-block;
                    margin-block-start: 11px;
                    padding: 15px 36px;
                    background-color: #F6762C;
                    font: 500 16px "Roboto";
                    border-radius: 5px; 
                }
            }
        }
    }
    &.pricing {
        padding-block: 130px 120px;
        .container {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            .item {
                width: min(100%, 555px);
                padding: 63px 50px 61px;
                display: flex;
                color: #fff;
                background: no-repeat center center / cover;
                margin-top: 30px;
                div {
                    width: min(100%, 263px);
                }
                &:nth-child(1) {
                    background-image: url("../images/pricing/pricing.png");
                }
                &:nth-child(2) {
                    background-image: url("../images/pricing/pricing 2.png");
                }
                &:nth-child(3) {
                    background-image: url("../images/pricing/pricing 3.png");
                }
                &:nth-child(4) {
                    background-image: url("../images/pricing/pricing 4.png");
                }
                &:nth-child(odd) {
                    justify-content: end;
                }
                h2 {
                    font: 500 30px "Roboto";
                }
                p {
                    font: 400 16px "Roboto";
                    opacity: 70%;
                    margin-top: 20px;
                }
                h4 {
                    color: #F6762C;
                    font: 500 16px "Roboto";
                    letter-spacing: 1.6px;
                    margin-top: 14px;
                    span {
                        opacity: 70%;
                        font-size: 12px;
                        text-decoration: line-through;
                    }
                }
                a {
                    color: #FFF;
                    font: 500 12px "Roboto";
                    border-radius: 5px;
                    background: #F6762C;
                    padding: 13px 36px;
                    display: inline-block;
                    margin-top: 11px;
                }
            }
        }
    }
    &.clients {
        .container {
            display: flex;
            justify-content: space-between;
            width: min(100%, 851px);
            align-items: center;
            flex-wrap: wrap;
            @media (max-width: 851px) { padding-inline: 30px; }
            @media (max-width: 768px) { padding-inline: 10px; }
            color: #fff;
            .text {
                width: min(100%, 368px);
                text-align: center;
                p {
                    font: 400 16px "Roboto";
                    opacity: .7;
                    margin-block: 37px 27px;
                }
                h3 {
                    font: 500 24px "Roboto";
                }
                small {
                    font: 500 12px "Roboto";
                }
            }
        }
    }
    &.download {
        width: 100%;
        background-color: #312F30;
        padding-block: 40px;
        margin-top: 194px;
        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            width: min(100%, 900px);
            h1 {
                font: 500 40px "Roboto";
                color: #fff;
            }
            a {
                padding: 15px 40px;
                background-color: #F6762C;
                color: #fff;
                border-radius: 5px;
                font: 500 16px "Roboto";
            }
        }
    }
}
footer {
    margin-top: 124px;
    .container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .footer-col {
            h4 {
                color: #fff;
                font: 500 16px "Roboto";
                margin-bottom: 15px;
            }
            &:nth-of-type(1) {
                ul li {
                    display: flex;
                    align-items: center;
                    gap: 8px;
                    margin-top: 5px;
                }
            }
            ul li a {
                color: #fff;
                opacity: .7;
                font: 400 12px "Roboto";
            }
            .social-links {
                display: flex;
                gap: 8px;
            }
        }
    }
}